/* .hero{
    background-image: linear-gradient(to top,
    rgba(2,19,62, 0.7),
    rgba(2,19,62,1) 60%),url(../../public/building.png);
    height: 100vh;
    width: 100vw;
    color: white;
    background-size: cover;
} */

.main{
    height: 100vh;
    width: 100vw;
    background-color:#02133E;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.hero{
    opacity: 100%;
    background-image: url(../../public/building.png);
    background-size: cover ;
    background-repeat: no-repeat;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
    background-position: center;

}

.waitlist_image{
    background-image: url(../../public/waitlist1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 781px;
    width: 640px;
}
.invest_image{
    background-image: url(../../public/invest1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 781px;
    width: 640px;
}


@media screen and (max-width: 600px) {
    .main{
        height: 100%;
        width: 100vw;
    }
    
    .hero {
        height: 100%;
        background-position: center;
    }
    .waitlist_image{
        width: 100%;
        height: 340px;
    }
    .invest_image{
        width: 100%;
        height: 340px;
    }
  }



@media screen and (min-width: 700px) {
    .main{
        height: 100%;
        width: 100vw;
    }
    
    .hero {
        height: 100vh;
        background-position: center;
    }
  }

